html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background: #6c63ff;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 16fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}

.loginbox {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 50% 50%;
}

#heading {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-left: 5%;
  margin-top: 10%;
}

#login {
  height: 90%;
  width: 80%;
  grid-row: 2/ 5;
  grid-column: 1 / 2;
  margin-left: 10%;
  margin-top: 10%;
}

#loginimage {
  height: 90%;
  width: 90%;
  grid-row: 2 / 5;
  grid-column: 2 / 3;
  margin-top: 10%;
}

#username {
  margin-top: 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  #login {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
  }

  #loginimage {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
  }
  #username {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  body {
    font-size: 1em;
  }
}

.navbar {
  background: #f9f9f9;
  margin: 0;
  border-bottom: solid black 1px;
}

.rooms {
  margin: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.messages > ul {
  list-style-type: none;
  padding: 0;
  margin: 10%;
}

#messageslist > li {
  background: linear-gradient(to top, #bc0ce8, #bc57e8);
  border: solid black 1px;
  border-radius: 5px;
  max-width: 70%;
  margin-top: 2%;
  margin-bottom: 3%;
  padding: 1%;
  box-shadow: 3px 5px #534cc4;
}

.messages {
  background: #6c63ff;
  overflow-y: scroll;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding: 3%;
  margin: 0;
  border-top: solid black 1px;
}

.message {
  background: #f9f9f9;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  grid-template-columns: 1fr;
  margin: 0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-top: solid black 1px;
  display: flex;
  justify-content: center;
}

.create_message {
  width: 90%;
  display: grid;
  grid-template-columns: 10% 75% 15%;
}

#posttext {
  grid-column: 1 / 3;
  margin-right: 2%;
  border-radius: 20px;
  padding-left: 2%;
}

#submitbutton {
  grid-column: 3 / 4;
}
