{% extends "layout.html" %}

{% block title %}
    The White Lodge
{% endblock %}

{% block main %}
<script src="{{ url_for('static', filename='socketpost.js') }}"></script>

<!-- Will need some kind of if statement here to check if there is a session signed in or not.
     also will need to check for user in local storage.
     If the user is not logged in then a log in screen will need to be shown-->

<!-- Will need a nav bar to select between rooms. Will have to have this to the left of the screen-->
<!-- When first logged in send everyone to the landing room. Make this locked but have instructions on making and joining rooms-->
<div>
  <form id="login">
    <div class="form-group">
        <input id="username" autocomplete="off" autofocus class="form-control" placeholder="username" type="text" required/>
    </div>
    <button class="btn btn-secondary" id="submitname" type="submit">Submit</button>
  </form>
</div>

<div id="rooms">
  The White Lodge Rooms:
  <ul id="roomlist">
  </ul>
  <hr>
</div>


<div id="messages">
  The White Lodge Messaging:
  <ul id="messageslist">
  </ul>
  <hr>
</div>

<div>
  <form id="message">
    <div class="form-group">
        <input id="posttext" autocomplete="off" autofocus class="form-control" placeholder="..." type="text" required/>
    </div>
    <button class="btn btn-secondary" id="submitpost" type="submit">Post</button>
  </form>
</div>

{% endblock %}
